Package: pve-installer
Version: 4.0-7
Section: utils
Priority: optional
Architecture: amd64
Depends: geoip-bin, libgtk3-webkit-perl
Maintainer: Proxmox Support Team <support@proxmox.com>
Description: The Proxmox Installer
 This package contains Proxmox graphical installer
