Package: pve-installer
Version: 3.1-1
Section: utils
Priority: optional
Architecture: amd64
Depends: 
Maintainer: Proxmox Support Team <support@proxmox.com>
Description: The Proxmox Installer
 This package contains Proxmox graphical installer
