Source: proxmox-installer
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: cargo:native,
               debhelper-compat (= 12),
               iso-codes,
               libpve-common-perl,
               librsvg2-bin,
               librust-cursive+termion-backend-dev (>= 0.20.0),
               librust-regex-1+default-dev (>= 1.7~~),
               librust-serde-1+default-dev,
               librust-serde-json-1+default-dev,
               perl,
               rustc:native,
Standards-Version: 4.5.1
Homepage: https://www.proxmox.com

Package: proxmox-installer
Architecture: any
Depends: chrony,
         geoip-bin,
         libgtk3-perl,
         libgtk3-webkit2-perl,
         libjson-perl,
         proxmox-kernel-helper,
         squashfs-tools,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Breaks: pbs-installer (<< 7~), pve-installer (<< 7~),
Replaces: pbs-installer (<< 7~), pve-installer (<< 7~),
Description: Installer for Proxmox Projects
 This package contains the graphical installer for:
  * Proxmox VE.
  * Proxmox Mail Gateway.
  * Proxmox Backup Server
