Source: pve-installer
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 9), perl (>= 5.10.0-19)
Standards-Version: 3.9.5
Homepage: http://www.proxmox.com

Package: pve-installer
Architecture: all
Depends: geoip-bin, libgtk3-webkit-perl, squashfs-tools
Description: Proxmox VE Installer
 This package contains the graphical installer for Proxmox VE.

Package: pmg-installer
Architecture: all
Depends: geoip-bin, libgtk3-webkit-perl, squashfs-tools
Description: Proxmox Mail Gateway Installer
 This package contains the graphical installer for Proxmox Mail Gateway.
