#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1


SETUPFN = "/usr/share/perl5/ProxmoxInstallerSetup.pm"

%:
	dh $@

override_dh_auto_install:
	install -D -m 0644 ProxmoxInstallerSetup-pve.pm $(CURDIR)/debian/pve-installer/${SETUPFN}
	install -D -m 0644 ProxmoxInstallerSetup-pmg.pm $(CURDIR)/debian/pmg-installer/${SETUPFN}
	dh_auto_install --destdir debian/pve-installer
	dh_auto_install --destdir debian/pmg-installer

override_dh_auto_test:
	# do nothing here
