#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

export BUILD_MODE=release

%:
	dh $@

override_dh_auto_configure:
	@perl -ne 'if (/^version\s*=\s*"(\d+(?:\.\d+)+)"/) { my $$v_cargo = $$1; my $$v_deb = "$(DEB_VERSION_UPSTREAM)"; \
	    die "ERROR: d/changelog <-> Cargo.toml version mismatch: $$v_cargo != $$v_deb\n" if $$v_cargo ne $$v_deb; exit(0); }' Cargo.toml
	dh_auto_configure

override_dh_missing:
	dh_missing --fail-missing

override_dh_strip:
	dh_strip
	for exe in $$(find \
	    debian/proxmox-installer \
	    debian/proxmox-auto-install-assistant \
	    -executable -type f); do \
	  debian/scripts/elf-strip-unused-dependencies.sh "$$exe" || true; \
	done

override_dh_installsystemd:
	# disables all services by default, as we enable them ourselves in
	# the installer
	dh_installsystemd --no-stop-on-upgrade --no-start --no-enable
